services:
  stepca:
    image: smallstep/step-ca:0.27.4
    container_name: vt-stepca
    environment:
      #- DOCKER_STEPCA_INIT_DATABASE_URL=postgresql://stepca:${STEPCA_DB_PASSWORD}@${DB_HOST}:5432/stepca?sslmode=disable
      - DOCKER_STEPCA_INIT_NAME=${STEPCA_NAME}
      - DOCKER_STEPCA_INIT_DNS_NAMES=${STEPCA_DNS_NAMES}
      - DOCKER_STEPCA_INIT_PROVISIONER=${STEPCA_PROVISIONER}
      - DOCKER_STEPCA_INIT_PASSWORD=${STEPCA_PASSWORD}
    volumes:
      - stepca_data:/home/step
    ports:
      - "9000:9000"
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "step", "ca", "health"]
      interval: 30s
      timeout: 10s
      retries: 3

  api-agent:
    build:
      context: ../../
      dockerfile: env/docker/Dockerfile.vt-server
    container_name: vt-api-agent
    command:
      - "--mode=agent"
      - "--agent-addr=:8080"
      - "--pg_dsn=postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:5432/${DB_NAME}?sslmode=disable"
      - "--rules=/rules"
      - "--stepca-url=https://stepca:9000"
      - "--stepca-external-url=https://10.211.130.44:443/step-ca"
      - "--stepca-provisioner=${STEPCA_PROVISIONER}"
      - "--stepca-key-path=/stepca/config/ca.json"
      - "--stepca-password=${STEPCA_PROVISIONER_PASSWORD}"
      - "--bootstrap-token=${AGENT_BOOTSTRAP_TOKEN}"
    volumes:
      - ../../rules:/rules:ro
      - stepca_data:/stepca:ro
    ports:
      - "8080:8080"
      - "8082:8082"  # Enrollment gateway
    env_file:
      - .env
    depends_on:
      stepca:
        condition: service_healthy
    restart: unless-stopped

volumes:
  stepca_data: